.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

    .login {
        color: var(--white);
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
    }
}